.component {

  &__topBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Aquarelle";
    font-size: 35px;
    margin: 0;
    text-align: center;
    color: var(--main-blue);
    line-height: 150%;
  }

  &__text {
    font-family: "CormorantGaramond-Medium";
    font-size: 18px;
    color: var(--main-blue);
    text-align: center;
    padding: 0 20px;
  }

  &__colors {
    width: 70%;
    display: flex;
    flex-direction: row;
    height: 50px;
  }

  &__colorCircle {
    width: calc(100% / 5);
    height: 85%;
  }
}