.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  &__title {
    font-family: "Aquarelle";
    font-size: 35px;
    text-align: center;
    color: var(--main-blue);
    line-height: 150%;
    margin: 10px 0 20px 0;
  }

  &__text {
    font-family: "CormorantGaramond-Medium";
    margin: 0;
    font-size: 20px;
    color: var(--main-blue);
    padding: 0 25px;
  }

  &__formBtn {
    background-color: var(--main-blue);
    border-radius: 15px;
    width: 210px;
    color: var(--text-white);
    font-family: "CormorantGaramond-Medium";
    font-size: 19px;
    margin: 15px 0;
    padding: 6px;
  }

  &__stickImg {
    width: 40%;
    margin-bottom: 10px;
  }

  &__contact {
    font-family: "CormorantGaramond-Medium";
    font-size: 20px;
    color: var(--main-blue);
    margin-top: 15px;
    margin-bottom: 0;
  }

  &__flowersBlock {
    height: 27vh;
    overflow: hidden;
    width: 100%;
  }

  &__flowersImg {
    transform: scale(-1, 1);
    width: 110%;
    right: 0;
    margin-left: -10%;
  }
}