.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  &__title {
    font-family: "Aquarelle";
    font-size: 35px;
    margin: 0;
    text-align: center;
    color: var(--main-blue);
    line-height: 150%;
    margin-bottom: 20px;
  }

  &__text {
    font-family: "CormorantGaramond-Medium";
    margin: 0;
    font-size: 20px;
    color: var(--main-blue);
    padding: 0 25px;
  }

  &__heartImg {
    width: 36px;
    margin: 18px 0;
  }

  &__stickImg {
    width: 95%;
    margin-top: 15px;
  }
}