@font-face {
  font-family: "Aquarelle";
  src: url("./assets/fonts/Aquarelle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond-Medium";
  src: url("./assets/fonts/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond-Regular";
  src: url("./assets/fonts/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
